.container {
  max-width: 740px;
  margin: auto;
  position: relative;
}

.container a {
  color: #09d3ac;
}

.container a:hover {
  text-decoration: none;
}

.content {
  margin: 10px 0 0 0;
  padding: 90px 0 0 0;
}

@media screen and (max-width: 760px) {
  .container {
    max-width: 90%;
  }
}
